body{
    background-color: gray;
}

.all{
    background-color: rgb(0, 0, 0);
    height: 420px;
    width: 370px;
    gap: 20px;
    border-radius: 10px;
}

.screen{
    border: 5px solid rgb(0, 0, 0);
    height: 100px;
    width: 323px;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
}

.a1{
  height: 40PX;
  width: 70px;
  font-size: x-large;
  background-color: grey;
  color: white;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 10px;
}

.a2{
    height: 40PX;
    width: 70px;
    font-size: x-large;
    background-color: grey;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
  }

  .a3{
    height: 40PX;
    width: 70px;
    font-size: x-large;
    background-color: grey;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .a4{
    height: 40PX;
    width: 80px;
    font-size: x-large;
    background-color: rgb(205, 25, 25);
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .a5{
    height: 40PX;
    width: 70px;
    font-size: x-large;
    background-color: grey;
    color: white;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 10px;
  }

  .a6{
    height: 40PX;
    width: 70px;
    font-size: x-large;
    background-color: grey;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .a7{
    height: 40PX;
    width: 70px;
    font-size: x-large;
    background-color: grey;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .a8{
    height: 40PX;
    width: 80px;
    font-size: x-large;
    background-color: grey;
    color: rgb(255, 149, 0);
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .a9{
    height: 40PX;
    width: 70px;
    font-size: x-large;
    background-color: grey;
    color: white;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 10px;
  }

  .a10{
    height: 40PX;
    width: 70px;
    font-size: x-large;
    background-color: grey;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .a11{
    height: 40PX;
    width: 70px;
    font-size: x-large;
    background-color: grey;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .a12{
    height: 40PX;
    width: 80px;
    font-size: x-large;
    background-color: grey;
    color: rgb(255, 149, 0);
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .a13{
    height: 40PX;
    width: 155px;
    font-size: x-large;
    background-color: grey;
    color: white;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 10px;
  }

  .a14{
    height: 40PX;
    width: 70px;
    font-size: x-large;
    background-color: grey;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .a15{
    height: 40PX;
    width: 80px;
    font-size: x-large;
    background-color: grey;
    color: rgb(255, 149, 0);
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .a16{
    height: 40PX;
    width: 238px;
    font-size: x-large;
    background-color: rgba(62, 0, 246, 0.089);
    color: white;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 10px;
  }

  .a17{
    height: 40PX;
    width: 80px;
    font-size: x-large;
    background-color: grey;
    color: rgb(255, 149, 0);
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .a18{
    height: 40PX;
    width: 328px;
    font-size: x-large;
    background-color: grey;
    color: white;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 10px;
  }